@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

.ring * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.ring {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #111;
  width: 100%;
  overflow: hidden;
}
.error-box{
    background: rgba(255,0,0,0.2);
    color: #000000;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
    font-size: large;
}
.success-box {
    background: rgba(0,255,0,0.2);
    color: #000000;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
    font-size: large;
}